<div class="background">
    <div class="list-group-item clearfix gameItem">
        <!-- <a style="cursor: pointer;" class="list-group-item clearfix gameItem" href="/purchasehistory">-->
        <div class="float-start">
            <img [src]="game.imageURL" alt="{{game.name}}" class="img-responsive "
                style="max-height:10em;padding: 15px;min-height: 10em;">
        </div>
        <div class="whole">

            <div class="left">
                <div>
                    <h1 class="list-group-item-heading" style="font-size:xx-large;">{{game.name}}
                    </h1>
                </div>
                <div>
                    <h4 class="list-group-item-heading" style="font-size:large;position: absolute; bottom:5px;">
                        {{game.categoryName}}
                    </h4>
                </div>
            </div>
            <div class="middle">
                <div>
                    <h4 class="list-group-item-heading" style="font-size:large;">Price:
                        {{game.price}}$
                    </h4>
                </div>
                <div>
                    <h4 class="list-group-item-heading" style="font-size:large;position: absolute; bottom:5px;">
                        {{game.platformName}}
                    </h4>
                </div>
            </div>
        </div>
        <!-- </a> -->
    </div>
</div>