.searchBar {
    display: flex;
    justify-content: center;
}

.searchBar input {
    width: 70%;
}

.containMe {
    margin-top: 20px;
    margin-left: 8%;
    margin-right: 8%;
}

.containMe button {
    width: 150px;
}

.filterCollapse {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}